[submodule "Cool/Log"]
	path = Cool/Log
	url = https://github.com/CoolLibs/Log
[submodule "Cool/OpenGL"]
	path = Cool/OpenGL
	url = https://github.com/CoolLibs/OpenGL
[submodule "Cool/Renderer_Fullscreen"]
	path = Cool/Renderer_Fullscreen
	url = https://github.com/CoolLibs/Renderer_Fullscreen
[submodule "Cool/Serialization"]
	path = Cool/Serialization
	url = https://github.com/CoolLibs/Serialization
[submodule "Cool/String"]
	path = Cool/String
	url = https://github.com/CoolLibs/String